<table class="table table-bordered table-striped table-sm">
  <thead>
    <tr>
      <th style="width:50%">
        Input (text in Markdown)
      </th>
      <th style="width:50%">
        Output (HTML rendered)
      </th>
    </tr>
  </thead>
  <tbody>
    <tr style="vertical-align: top;">
      <td>
        <ngx-monaco-editor style="height:100vh;" [options]="editorOptions" [(ngModel)]="markdown"></ngx-monaco-editor>
      </td>
      <td>
        <markdown [data]="markdown" (ready)="onReady()" emoji></markdown>
      </td>
    </tr>
  </tbody>
</table>
<router-outlet></router-outlet>